<%= form_for([@post, @post.comentarios.build]) do |f| %>
  <p>
    <%= f.label :autor %>
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.label :conteudo %><br>
    <%= f.text_area :conteudo %>
  </p>
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>
