<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @fanfic.titulo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @fanfic.genero %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fanfic.status %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @fanfic.resumo %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @fanfic.conteudo %>
</p>

<%= link_to 'Edit', edit_fanfic_path(@fanfic) %> |
<%= link_to 'Back', fanfics_path %>
