<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YourFanfic</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<header class="intro-header" style="background-image: url('img/hero-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Fanfics</h1>
                        <h2 class="subheading">Encontre uma fanfic da sua preferência</h2>

                    </div>
                </div>
            </div>
        </div>
    </header>

<%= search_form_for @q do |f| %>
  <%= f.label :titulo_cont %>
  <%= f.search_field :titulo_cont %>

  <%= f.select :combinator,[['E', 'and'],['OU', 'or']] %>
  <%= f.label :genero_cont %>
  <%= f.search_field :genero_cont %>

  <%= f.submit %>
<% end %>
<br>

<h1>Posts</h1>

<table>
  <thead>

    <tr>
      <th><%= sort_link(@q, :titulo) %></th>
      <th><%= sort_link(@q, :genero) %></th>
      <th>Resumo</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for post in @posts.reverse %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.genero %></td>
        <td><%= post.resumo %></td>

        <td><%= link_to 'Ver mais', post %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin %>
<h3><%= link_to 'Novo Post', new_post_path %></h3>
<% end %>
